html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 10;
    width: 80px;
    height: 80px;
}

#overlay {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 50px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    padding: 60px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 120px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}


@media screen and (max-width: 1500px) {
    body {
        font-size: 1.3rem;
    }

    #overlay {
        display: block;
        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;

    }

    #map {
        max-height: 60%;
    }
}




#sections {
    position: relative;
    height: 100%;
    width: 100%;
}

.section {
    padding-bottom: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section.active {
    opacity: 1;
}

/* Firefox */
.sections-scroller {
    scrollbar-width: thin;
    /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: currentColor transparent;
    /* foreground background */

    padding-right: 16px;
}

/* Webkit / Blink */
.sections-scroller::-webkit-scrollbar {
    width: 8px;
}

.sections-scroller::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 9999px;
    /* always round */
}

.sections-scroller::-webkit-scrollbar-track {
    background-color: transparent;
}



#sections::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    /* transparent keyword is broken in Safari */
}

#sections::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    /* transparent keyword is broken in Safari */
}

.sections-scroller {
    overflow-y: scroll;
    background: white;
    width: 100%;
    height: 100%;
}


#controls {
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;
}

#controls button.control-button {
    background-color: #005198;
    /* Blue background */
    border: none;
    border-radius: 15px;
    /* Remove border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding to make the button bigger */
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    opacity: 1;
    cursor: pointer;
    /* Add a hand cursor on hover */
    transition: background-color 0.3s ease;
    /* Add transition effect */
}

#controls button.control-button:disabled {
    opacity: 0;
    cursor: default;
    /* Change background color on hover */
}

@media (hover: hover) {

    #controls button.control-button:hover {
        background-color: #003f75;
        /* Change background color on hover */
    }

}

/* Line Select*/
#lineSelect option {
    color: white;
}

#lineSelect option:disabled {
    background-color: gray !important;
    color: black;
}

#lineSelect {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    margin-left: 10px;
}

#sortSelect {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.select-container {
    margin: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.select-container label {
    display: inline-block;
    margin-bottom: 10px;
}

/* Day select Range */

.slider-container {
    margin: 20px;
    position: relative;
}

.slider-container label {
    display: block;
    margin-bottom: 10px;
}

.slider-container input[type=range] {
    margin-left: 20px;
    margin-right: 5px;
    width: calc(100% - 25px);
    /* Make the range input full width */
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}

.slider-container .slider-labels {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 0.8em;
}

.slider-container .slider-labels::before {
    left: 0;
}

.slider-container .slider-labels::after {
    right: 0;
}

.slider-labels span {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}

/*
.slider-labels span::before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 10px;
    background: black;
}*/

#championshipTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

#championshipTable th {
    font-weight: bold;
    padding: 8px;
}

#championshipTable thead th {
    background-color: #f5f5f5;
    color: black
}

#championshipTable td {
    padding: 8px;
    text-align: center;
}

#championshipTable tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


#championshipTable tr:hover td {
    background-color: transparent;
}


#championshipTable tr.disabled {
    cursor: default;
}


.heatmap-button {
    width: 100%;
}

.heatmap-button span {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: #005198;
    background-color: white;
    border: #005198 solid 1px;
}


.heatmap-button input {
    display: none;
}


.heatmap-button input:checked+span {
    background-color: #005198;
    color: white;
    border-color: #005198;
}

@media (hover: hover) {
    .heatmap-button span:hover {
        background-color: #005198;
        color: white;
        border-color: #005198;
        cursor: pointer;
    }

    .heatmap-button input:checked+span:hover {
        background-color: #005198e5;
        color: white;
        border-color: #005198;
        cursor: pointer;
    }
}

.doors {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.door {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 20;
    transition: transform 2s;
    top: 0;
}

.door-left {
    left: 0;
    background: url('../images/left_door.png') no-repeat right center;
    background-size: auto 100%;
}

.door-right {
    right: 0;
    background: url('../images/right_door.png') no-repeat left center;
    background-size: auto 100%;
}

.door-left.open {
    animation: slideLeft 2s forwards;
}

.door-right.open {
    animation: slideRight 2s forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}